<section id="sidebar">
  <div class="sidebar-login">
    <img class="foto-perfil"
      src="https://img.freepik.com/vetores-premium/icone-de-perfil-de-usuario-em-estilo-plano-ilustracao-em-vetor-avatar-membro-em-fundo-isolado-conceito-de-negocio-de-sinal-de-permissao-humana_157943-15752.jpg" />
  </div>

  <div class="botoes-sidebar">
    <a routerLink="/contatos" routerLinkActive="router-link-active" class="botao-adicionar"> HOME </a>
    <a routerLink="/cadastro" routerLinkActive="router-link-active" class="botao-adicionar-novo"> NOVO CONTATO </a>
    <a routerLink="/login" class="botao-desconectar"> desconectar </a>
  </div>

</section>